<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
</head>
<body>
    <h1>Hello </h1>

    <h1>Logged in as {{user.username}} (nihar ka papa) </h1>
    <a class="nav-link"><li class="nav-item">
        <form method="post" action="{% url 'logout' %}">
            {% csrf_token %}
            <button type="submit">logout</button>
        </form>
    </a>
</body>
</html>